//About us ___________________________

.about {
  padding: 40px 0 80px 0;

  .about__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;

    margin-bottom: 30px;

    @include max-screen(768px) {

      &:nth-child(3) {
        padding-top: 100px;
      }

      &:nth-child(4) {
        padding-top: 100px;
      }
    }

    i {
      font-size: 45px;
    }
  }

  .about__name {
    font-family: $font-family;
    font-size: 22px;
    transition: .2s ease-in-out;

    margin-bottom: 20px;
  }

  .about__text {
    font-size: 14px;
    line-height: 1.5;
    width: 265px;

    &:before {
      @extend %before;
      bottom: 0;
      left: 38%;
      height: 4px;
      width: 70px;
      background-color: #f1eee9;
      border-radius: 25px;
      transition: .3s ease-in-out;

      margin-bottom: -30px;

      @include max-screen(768px) {
        left: 40%;
      }

      @include max-screen(425px) {
        left: 33%;
      }
    }

    @include max-screen(768px) {
      width: auto;
    }
  }

  .about__hover {

    &:hover {

      .about__icon {
        color: #c7b299;
      }

      .about__name {
        color: #c7b299;
      }

      .about__text {

        &:before {
          background-color: #c7b299;
        }
      }
    }
  }

  .about__padding {
    @include max-screen(768px) {
      padding-top: 65px;
    }
  }
}
