//Slider ___________________________

.slider {
  background-color: #fbfaf8;

  .slider__title {
    @extend %title;
  }

  .slider__subtitle {
    @extend %subtitle;
  }

  .carousel-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .horizontal-carousel {
    transform-style: preserve-3d;
    height: 480px;

    @include max-screen(768px) {
      height: 350px;
    }
    @include max-screen(425px) {
      height: 250px;
    }
  }

  .carousel__item {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 75%;
    margin: auto 8%;
    z-index: 100;
    transition: opacity .2s;
    height: 100%;
    transition: .5s;
  }

  .carousel__item--active {
    opacity: 1;
    position: relative;
    z-index: 900;
    transform: scale(1);
  }

  .carousel__item-prev,
  .carousel__item-next {
    z-index: 800;
    opacity: 0.7;
  }

  .carousel__item-next,
  .carousel__item-next-next {
    right: 0;
  }

  .carousel__item-prev,
  .carousel__item-prev-prev {
    left: 0;
  }

  .carousel__item-prev {
    transform: translate(-15%) scale(0.8);
  }

  .carousel__item-next {
    transform: translate(15%) scale(0.8);
  }

  .carousel__item-prev-prev, .carousel__item-next-next {
    z-index: 600;
    opacity: 0.3;
  }

  .carousel__item-prev-prev {
    transform: translate(-30%) scale(0.6);
  }

  .carousel__item-next-next {
    transform: translate(30%) scale(0.6);
  }

  .carousel__button-prev,
  .carousel__button-next {
    position: absolute;
    top: 95%;
    width: 25px;
    height: 25px;
    background-color: transparent;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid #d1d1d1;
    opacity: .7;
    transition: .3s;

    &:hover{
      border: 1px solid #a48d72;

      &:after{
        border-right: 2px solid #a48d72;
        border-bottom: 2px solid #a48d72;
      }
    }

    @include max-screen(768px) {
      top: 55%;
      width: 55px;
      height: 55px;
    }

    @include max-screen(425px) {
      top: 55%;
      width: 55px;
      height: 55px;
    }
  }

  .carousel__button-prev {
    left: 44%;

    @include max-screen(768px) {
      left: 15%;
    }

    @include max-screen(425px) {
      left: 12%;
    }
  }

  .carousel__button-next {
    right: 44%;

    @include max-screen(768px) {
      right: 15%;
    }

    @include max-screen(425px) {
      right: 12%;
    }
  }

  .carousel__button-prev::after,
  .carousel__button-next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid #d1d1d1;
    border-bottom: 2px solid #d1d1d1;
    transform: translate(-50%, -50%) rotate(135deg);
    transition: .3s;

    &:hover{
      border-right: 2px solid #a48d72;
      border-bottom: 2px solid #a48d72;
    }
  }

  .carousel__button-next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}


.purchase-now {
  background: linear-gradient(45deg, #241d1a, #4a3126);
  padding: 40px 0;

  @include max-screen(768px) {
    padding: 20px 0;
  }

  .purchase-now__title {
    font-family: $font-family;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;

    span {
      color: #c7b299;
    }
  }

  .purchase-now__subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #615855;
    margin-bottom: 0;
  }

  .btn {
    @extend %btn;

    &:hover {
      color: #ffffff;
    }
  }
}