//Video ___________________________

.video {
  height: 500px;
  position: relative;
  margin: 0 -15px;

  background: url('../img/video/photo7.jpg') no-repeat;
  background-size: cover !important;

  &:before {
    @extend %before;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .3;
    z-index: 1;
  }

  .video-play-button {
    position: absolute;
    z-index: 10;
    top: 42%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #c7b299;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #c7b299;
    border-radius: 50%;
    transition: all 200ms;
  }

  .video-play-button:hover:after {
    background-color: darken(#c7b299, 10%);
  }

  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }

  .video-overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.80);
    opacity: 0;
    transition: all ease 500ms;
  }

  .video-overlay.open {
    position: absolute;
    z-index: 1000;
    opacity: 1;
  }

  .video-overlay-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
  }

  .video-overlay-close:hover {
    color: #fa183d;
  }

  .video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* width: 90%; */
    /* height: auto; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  }

  .video__title {
    font-family: $font-family;
    color: #ffffff;
    position: relative;
    z-index: 1;

    padding-top: 300px;
  }

  .video__subtitle {
    color: #ffffff;
    position: relative;
    z-index: 1;
  }

}

.mobile__images {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 570px;

  overflow: hidden;

  margin-top: 40px;

  .mobile__devices {
    height: 100%;
    position: relative;
    z-index: 2;
  }

  .owl-carousel {
    display: block;
    width: 196px;
    height: 336px;
    overflow: hidden;

    //  background: #c7b299;

    .carousel__img {
      width:auto;
    }
  }

  .owl-carousel.owl-loaded{
    position: absolute;
    display: block;
    top: 90px;
    right: 183px;
    z-index: 1;

    @include max-screen(768px) {
      right: 127px;
    }
    @include max-screen(425px) {
      right: 152px;
    }
    @include max-screen(375px) {
      right: 134px;
    }
  }
}

.mobile__title {
  @extend %title;
  padding-top: 100px;

  @include max-screen(768px) {
    padding: 20px 0 10px;
  }

  @include max-screen(425px) {
    text-align: center;
  }
}

.mobile__text {
  @extend %subtitle;
  line-height: 1.8;

  @include max-screen(768px) {
    width: auto;
  }

  margin-bottom: 30px;
}

.mobile__list {
  font-size: 16px;
  position: relative;

  padding-left: 40px;
  margin: 0 0 18px 40px;

  @include max-screen(768px) {
    margin: 0 0 10px 40px;

  }

  span {
    display: inline-flex;
    justify-content: center;
    position: absolute;
    width: 18px;
    top: -1px;
    left: 0;
  }
}


